<!-- include header -->
<%- include('include/_header') %>
    <!-- include header -->
    <!-- Main Site -->
    <main id="site-main mt-5">
        <div class="container">
            <div class="box-nav d-flex-justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i> All User</a>
                </div>
            </div>

            <div class="form-title text-center">
                <h2 class="text-dark">Update User</h2>
                <span class="text-light">Use the below form to update a new account</span>
            </div>

            <!-- form handling -->
            <form action="/" method="POST" id="update_user">
                <div class="new_user">
                    <input type="hidden" name="id" id="id" value="<%= user._id %>">
                    <div class="form-group">
                        <label for="name" class="text-dark">Name</label>
                        <input class="form-control" type="text" name="name" value="<%= user.name %>">
                    </div>
                    <div class="form-group">
                        <label for="email" class="text-dark">Email</label>
                        <input class="form-control" type="text" name="email" value="<%= user.email %>">
                    </div>
                    <div class="form-group">
                        <label for="">Gender</label> <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="male"
                                <%=user.gender=='male' ? 'checked' : '' %>>
                            <label class="form-check-label" for="inlineRadio1">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="female"
                                <%=user.gender=='female' ? 'checked' : '' %> >
                            <label class="form-check-label" for="inlineRadio2">Female</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Status</label> <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="inlineRadio1" value="active"
                                <%=user.status=='active' ? 'checked' : '' %>>
                            <label class="form-check-label" for="inlineRadio1">Active</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="inlineRadio2"
                                value="unactive" <%=user.status=='unactive' ? 'checked' : '' %>>
                            <label class="form-check-label" for="inlineRadio2">Unactive</label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <!-- form handling -->
        </div>
    </main>
    <!-- Main Site -->

    <!-- include footer -->
    <%- include('include/_footer') %>
        <!-- include footer -->